/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* фон #2F303A */
/* акцент #2196F3 */
/* адрес color: rgba(255, 255, 255, 0.6); */
:root {
    --main-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --main-color:#757575;
    --gray-color:#2F303A;
    --line-color:#D9D9D9;
} 


body{
    background-color: var(--white-color);
    color: var(--main-color);
    font-family: Roboto, sans-serif; 
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* reset */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img{
    display: block;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

 .link {
     text-decoration: none;
 }



/* reset end */
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* button */


.btn {
    cursor: pointer;
}


 

/* logo */
.logo {
    padding: 25px 0;
    margin-right: 93px;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.first-part{
color: var(--accent-color);
}
.last-part{
   color: var(--main-text-color)
}
/* header */

.header{
    border-bottom: 1px solid #ECECEC;
}
.header-nav{
    margin-right: auto;
}
  
.header-container{
   
    display: flex;
    align-items: center;
}

 .site-nav{
    display: flex;
    align-items: center;
 }

 .site-nav-item:not(:last-child)
 {
    margin-right: 50px;
 }

 .header-contacts-list{
    display: flex;
    align-items: center;
 }

 .header-contacts-item{
    margin-right: 50px;
 }

.site-nav-link {
    padding: 32px 0;
    color:var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus{
color: var(--accent-color);
}


.header-contacts-link{
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contacts-link:hover,
.header-contacts-link:focus{
color: var(--accent-color);
}

/* HERO*/

.hero{
    background-color: var(--gray-color);
    padding-top: 200px;
    
}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero-btn{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--accent-color);
    border-radius: 4px;
    display: block;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    font-family: inherit;
    background-color: var(--accent-color);
}



/* features */

.features{
    padding-bottom: 0;
}

.features-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);
}
  .features-list{
    display: flex;
  }

 .features-item{
    width:270px;
    flex-direction: row;
    margin-right: 30px;
 }
.features-item:last-child{
    margin-right: 0;
}

 .features-text {
     font-size: 14px;
     line-height: 1.7;
 }
/* section-world */


.world-title{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color:var(--main-text-color);
}


.world-list{
    display: flex;
}
.world-item{
    margin-right: 30px;
}

/* teams */
.teams{
background: #F5F4FA;
}

.teams-list{
    display: flex;
    gap: 30px;
}
.team-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
}
.teams-item{
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 30px * 2) / 4);
}
.teams-title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--main-text-color);
}

.teams-title-name{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;     
    color: var(--main-text-color);
}
.team-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
}

/* footer */
.footer{
    background-color: var(--gray-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    margin-bottom: 20px;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-first-part{
    color: var(--accent-color)
}
.footer-last-part{
color: var(--white-color);
}


.footer-contacts-mailto{
    margin-bottom: 9px;
}


.footer-contacts-list{
    margin-bottom: 0;
}


.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--accent-color);
}
.address{
    margin-bottom: 9px;
    line-height: 1.71;      
    color: #FFFFFF;
    font-style: normal;
}
.footer-container{
  padding: 0;
}

/* gallery-btn */

.gallery-btn {
    margin-right: 6px;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--main-text-color);
    font-family: inherit;
    }
.gallery-btn:hover,
.gallery-btn:focus
{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.gallery-btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}






.gallery-list{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}


.gallery-list-item{
    display: inline-block;

}
.shadow-title{
    display: none;
}

/* gallery-title */
.gallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.gallery-text{    
    font-size: 16px;
    line-height: 30px;
    color: var(--main-color);
}
.container-text{
border: 1px solid #EEEEEE;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 24px;
padding-top: 24px;
}